<div class="alert alert-warning m-3 radius d-flex p-2" style="font-size: 12px;">
    <i class="fa fa-lock me-2"></i>
    <p>Votre sécurité est notre priorité absolue. Nous avons mis en place des mesures de sécurité robustes pour garantir que vos conversations restent privées et sécurisées. Vos données personnelles sont protégées et ne seront jamais partagées sans votre consentement. N'hésitez pas à profiter de notre plateforme en toute confiance, sachant que votre confidentialité est notre engagement.</p>
</div>