<!--Left Msg section-->
<div class="wt-dashboard-msg-user-list border-end">
  <div class="single-msg-user-name-box">
    <div class="single-msg-short-discription">
      <h4 class="single-msg-user-name">Conversations</h4>
      Toute vos conversations
    </div>
  </div>
  <!-- Search Section End-->

  <!-- user msg list start-->
  <div id="msg-list-wrap" class="wt-dashboard-msg-search-list scrollbar-macosx">

    {% for userconversation in conversations %}

    {% include "conversation/composants/_card.html.twig" %}

    {% else %}
    <div class="wt-dashboard-msg-search-list-wrap">
      <div class="msg-user-info clearfix bg-white">
        <p class="text-muted ps-3">Aucune conversation...</p>
      </div>
    </div>
    {% endfor %}

  </div>
  <!-- user msg list End-->

</div>