<form method="post" class="d-inline text-center" action="{{ path('admin_user_annuaire', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir rendre ce profil visible sur annuaire?');">
    <input type="hidden" name="_token" value="{{ csrf_token('annuaire' ~ user.id) }}">
    <button class="btn custom-badge bg-success text-light"><i class="fa fa-eye"></i> Rendre visible</button>
</form>
