<form method="post" class="d-inline" action="{{ path('admin_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer le compte?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="custom-button w-100 bg-danger"><i class="fa fa-user-lock"></i> Supprimer le compte</button>
</form>
