{% extends 'base.html.twig' %}

{% block title %}Suivi de la candidature au poste de #{{ candidature.offre.intitulePoste }}{% endblock %}

{% block body %}
<h1>Suivi de la candidature au poste de #{{ candidature.offre.intitulePoste }}</h1>
{% endblock %}
