<div class="collection-form">
    {{ form_row(form.name) }}
    <div class="text-end pb-0">
        <button type="button" class="btn btn-outline-danger btn-remove btn-sm">
            <i class="fa fa-trash"></i> <span class="hidden">Supprimer</span>
        </button>
    </div>
</div>