<form method="post" class="d-inline" action="{{ path('user_post_delete', {'id': post.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <button class="btn btn-sm bg-danger custom-badge text-light mt-0"><i class="fa fa-trash-alt"></i></button>
</form>
