{% extends 'espace.html.twig' %}

{% block title %}Mettre à jour les accès du compte{% endblock %}
{% block titre %}Mettre à jour les accès du compte{% endblock %}
{% block text %}Mettre à jour les accès du compte{% endblock %}

{% block body %}
    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="site-button">Mettre à jour les accès du compte</button>
    {{ form_end(resetForm) }}
{% endblock %}

