{% extends 'espace.html.twig' %}

{% block title %}Mise à jour des accès du compte{% endblock %}
{% block titre %}Mise à jour des accès du compte{% endblock %}
{% block text %}Mise à jour des accès du compte{% endblock %}

{% block body %}
    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="custom-button">Mise à jour des accès du compte</button>
    {{ form_end(resetForm) }}
{% endblock %}

