{% extends 'espace.html.twig' %}

{% block title %}Espace membre
{% endblock %}
{% block text %}
{{ app.user }}
{% endblock %}

{% block right %}
<a href="{{ path('user_complete_compte') }}" class="custom-button-light"><i class="fa fa-user-edit"></i> Mettre à jour le profil</a>
{% endblock %}
{% block body %}

<!--Top Wide banner Start-->
{% include "annuaire/composants/_user_banner.html.twig" %}

<!-- Employer Detail START -->
<!--Top Wide banner End-->
<div class="container">
  <div class="section-content">
    <div class="row d-flex justify-content-center">

      <div class="col-lg-4 col-md-12 rightSidebar">

        {% include "annuaire/composants/_user_sidebar.html.twig" %}

      </div>

      <div class="col-lg-8 col-md-12">
        <!-- Candidate detail START -->
        {% include "annuaire/composants/_user_description.html.twig" %}

      </div>

    </div>
  </div>
</div>
<!-- Employer Detail END -->
{% endblock %}
