<form method="post" class="d-inline" action="{{ path('admin_secteurs_activite_delete', {'id': secteurs_activite.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ secteurs_activite.id) }}">
    <button class="btn text-danger"><i class="fa fa-trash"></i></button>
</form>
