<form action="{{ path('app_send_new_code') }}" method="post" class="text-center mt-3">
  <p>Je n'ai reçu aucun code de confirmation !<button type="submit" class="btn p-0 text-primary">renvoyer de nouveau le
      code</button></p>
</form>