<div id="search">
      <span class="close"></span>
      <form role="search" id="searchform" action="{{ path('offres') }}" method="get" class="radius-xl">
        <input class="form-control" value="" name="query" type="search" placeholder="Je cherche..." />
        <span class="input-group-append">
          <button type="submit" class="search-btn">
            <i class="fa fa-paper-plane"></i>
          </button>
        </span>
      </form>
    </div>