<h4 class="panel-tittle mb-0 py-3">Termes et conditions du changement de statut de compte</h4>
      <p>Ces termes et conditions régissent le changement de statut de votre compte sur <strong>{{ appName }}</strong>. En demandant ou en acceptant un changement de statut de votre compte, vous acceptez également ces termes et conditions.</p>

      <p>Vous pouvez demander un changement de statut de votre compte en suivant les procédures et les instructions fournies sur la plateforme. Nous nous réservons le droit d'accepter ou de refuser toute demande de changement de statut à notre entière discrétion.</p>

      <p>Le changement de statut de votre compte peut entraîner des modifications dans les fonctionnalités, les privilèges, les obligations ou les frais associés à votre compte. Ces modifications seront spécifiées dans les conditions applicables au nouveau statut de compte.</p>

      <p>Nous nous efforcerons de vous informer de toute modification importante apportée à votre statut de compte ou aux conditions qui y sont associées. Cependant, il est de votre responsabilité de consulter régulièrement les termes et conditions de votre compte pour vous tenir informé des éventuels changements.</p>

      <p>En demandant ou en acceptant un changement de statut de votre compte, vous acceptez toutes les conditions qui y sont associées, y compris les modifications apportées aux fonctionnalités, aux privilèges, aux obligations ou aux frais. Si vous n'êtes pas d'accord avec les nouvelles conditions, votre seul recours est de refuser le changement de statut ou de cesser d'utiliser la plateforme.</p>

      <p>Ces termes et conditions sont régis par les lois en vigueur dans votre pays de résidence, et tout litige découlant de ces termes et conditions sera soumis à la juridiction exclusive des tribunaux compétents de ce pays.</p>