<nav id="sidebar-admin-wraper">
  <div class="page-logo">
    <a href="{{ path('user_espace') }}"><img src="{{ asset('img/logo-dark.png') }}" alt=""></a>
  </div>

  <div class="admin-nav scrollbar-macosx">
    <ul>
      <li class="{{ app.request.attributes.get('_route') == 'user_espace' ? 'active' : '' }}">
        <a href="{{ path('user_espace') }}">
          <i class="fa fa-home"></i>
          <span class="admin-nav-text">Espace membre</span>
        </a>
      </li>

      {% if app.user.compte == "ADMINISTRATEUR" %}
        {% include "partials/admin/_sidebar_links.html.twig" %}
      {% else %}
        {% include "partials/espace/_sidebar_links.html.twig" %}
      {% endif %}

      <li>
        <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#logout-dash-profile">
          <i class="fa fa-share-square"></i>
          <span class="admin-nav-text">Déconnexion</span>
        </a>
      </li>

    </ul>
  </div>
</nav>