{% extends 'espace.html.twig' %}

{% block title %}Candidatures appliquée ({{ candidatures.getTotalItemCount }}){% endblock %}
{% block titre %}Candidatures appliquée ({{ candidatures.getTotalItemCount }}){% endblock %}
{% block text %}Vous avez postuler à ces offres d'emplois{% endblock %}

{% block right %}
	{% include "user/candidature/composants/_navigation.html.twig" %}
{% endblock %}

{% block body %}

    {% include "user/candidature/_filters.html.twig" %}

    {% include "client/candidature/composants/_data.html.twig" %}

	<div class="">
		{{ knp_pagination_render(candidatures, null, {}, {
        'align': 'center',
        'size': 'medium',
        'rounded': true,
        }) }}
	</div>
    
{% endblock %}
