<p class="new-compte-text">Trouvez les talents dont votre entreprise a besoin en un clin d'œil ! Créez un compte
	<strong>entreprise</strong>
	sur
	<strong>{{ appName }}</strong>
	pour publier des annonces et offres d'emploi, accéder à une base de données de candidats qualifiés et simplifier votre processus de recrutement. Rejoignez-nous dès maintenant pour trouver les meilleurs collaborateurs !
</p>
