
        <div class="ps-3">
          <p class="new-compte-text">
            <strong>Attention</strong>
            : Après la suppression du compte, vous ne pourrez plus récupérer les informations, historiques ou contenus associés à ce compte.</p>
          <p class="new-compte-text">Veuillez considérer les points suivants avant de continuer :</p>
          <ul class="new-compte-text mb-3">
            <li>Toutes les informations de profil, y compris le nom, adresse e-mail et autres détails personnels, seront supprimées.</li>
            <li>Toutes les publications, commentaires ou activités liées à ce compte seront également effacées et ne pourront plus être récupérées.</li>
            <li>Les abonnements ou services associés à ce compte seront annulés et vous perdrez l'accès à tout contenu ou fonctionnalité réservés aux membres.</li>
          </ul>
        </div>