<div class="collection-form bg-white">
    {{ form_row(form.annee) }}
    {{ form_row(form.diplome) }}
    {{ form_row(form.ecole) }}
    {{ form_row(form.description) }}
    <div class="text-end pb-0 pt-2">
        <button type="button" class="btn btn-outline-danger btn-remove btn-sm">
            <i class="fa fa-trash"></i> <span class="hidden">Supprimer</span>
        </button>
    </div>
</div>