<div class="collection-form">
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    <div class="text-end pb-0">
        <button type="button" class="btn radius btn-outline-danger btn-remove">
            <i class="fa fa-trash"></i> <span class="hidden">Supprimer</span>
        </button>
    </div>
</div>