<div class="collection-form bg-white">
    {{ form_row(form.name) }}
    {{ form_row(form.imageFile) }}
    {{ form_row(form.lien) }}
    {{ form_row(form.description) }}
    <div class="text-end pb-0">
        <button type="button" class="btn btn-outline-danger btn-remove btn-sm">
            <i class="fa fa-trash"></i> <span class="hidden">Supprimer</span>
        </button>
    </div>
</div>