<div class="side-bar-2">
	<div class="panel panel-defaulte bg-white">
		<div class="panel-heading wt-panel-heading p-a20">
			<h4 class="panel-tittle m-0">
				<i class="fa fa-info-circle text-warning"></i>
				Conseils de sécurité
			</h4>
		</div>
		<div class="panel-body wt-panel-body p-a20 m-b30">
			<div class="ps-3">
				<ul class="mb-3">
					<li>Utilisez un bref titre et une description de l'élément.</li>
					<li>Assurez-vous de publier dans la bonne catégorie.</li>
					<li>Ajoutez de belles photos à votre annonce.</li>
					<li>Mettre un prix raisonnable.</li>
					<li>Vérifiez l'élément avant de le publier.</li>
				</ul>
			</div>
			<p class="text-muted">Vérifiez bien toute les informations de l'élément avant de le publier</p>
			<button class="custom-button button w-100" type="submit">
				<span class="btnFetch d-block w-100">
					{{ button_label|default('Enregistrer & prévisualiser') }}
				</span>
			</button>
		</div>
	</div>
</div>
