<div class="register-links">
   <a href="{{ path('app_register') }}">Personel (client)</a>
   <a href="{{ path('particulier_register') }}">Particulier</a>
   <a href="{{ path('entreprise_register') }}">Entreprise</a>
</div>