<a href="{{ app.user ? path('favoris_user_new', {id: user.id}) : path('app_login') }}" class="{{ app.user ? 'js-favoris' : '' }} de-info twm-bg-brown">

	{% if app.user and user.isAddedByUser(app.user) %}

	<i class="fa fa-heart" aria-hidden="true"></i>

	{% else %}

	<i class="far fa-heart" aria-hidden="true"></i>

	{% endif %}

	Suivre
	
</a>