{% extends 'client.html.twig' %}

{% block title %}Espace client{% endblock %}
{% block titre %}Espace client{% endblock %}
{% block text %}Espace client{% endblock %}

{% block body %}

<h1 class="page-titre">Espace client</h1>

{% endblock %}
